@font-face {
    font-family: 'Lato';
    src: local('Lato-Regular'), url('@/assets/fonts/lato/latoregular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato-Bold'), url('@/assets/fonts/lato/latobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
